<div class="navbar">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-logo", id: "navbar-logo" do %>
    <img src="vs.png" alt="logo">
  <% end %>
  <!-- left navigation -->
    <div class="navbar-left hidden-xs hidden-sm">
      <!-- Dropdown menu -->
      <div id="classes">
        <div class="dropdown">
         <a class="navbar-item navbar-link"  >CLASSES</a>
           <ul class="dropdown-content">
            <% Discipline.all.each do |discipline| %>
              <li><%= link_to discipline.name,discipline_path(discipline)%></li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- Other menu items -->
      <%= link_to "TRAINERS", trainers_path, class: "navbar-item navbar-link"%>
      <%= link_to "PRIVATE TRAINING", private_training_path, class: "navbar-item navbar-link" %>
      <%= link_to "SCHEDULE & FEES", schedule_and_fees_path, class: "navbar-item navbar-link"%>
      <%= link_to "ABOUT VERSUS", about_us_path, class: "navbar-item navbar-link"%>
    </div>

    <!-- MOBILE EXPERIENCE -->
  <div class="navbar-mobile hidden-md hidden-lg">
    <!-- Classes for mobile only -->
    <div class="navbar-item mobile-navbar">
      <div class="dropdown">
       <a href="PLACEHOLDER-LINK" class="navbar-item navbar-link dropdown-toggle"  id="navbar-menu" data-toggle="dropdown">CLASSES</a>
         <ul class="dropdown-menu">
          <li><a href="#">CLASS 1</a></li>
          <li><a href="#">CLASS 2</a></li>
          <li><a href="#">CLASS 3</a></li>
        </ul>
      </div>
    </div>
    <!-- Burger menu for mobile only -->
    <div class="dropdown navbar-item mobile-navbar">
      <img src="vs.png" alt="logo">
      <!-- <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button" ></i> -->
      <ul class="dropdown-menu">
        <li><a href="#">TRAINERS</a></li>
        <li><a href="#">PRIVATE TRAINING</a></li>
        <li><a href="#">SCHEDULE & FEES</a></li>
        <li><a href="#">ABOUT VERSUS</a></li>
      </ul>
    </div>
   </div>

  <!-- CTA BUTTON -->
  <div class="navbar-right hidden-xs hidden-sm">
    <%= link_to "VISIT US", visit_us_path, class: "btn btn-default", type: "button", id: "navbar-button"%>

  </div>
</div>
