<div class="navbar">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-logo", id: "navbar-logo" do %>
    <img src="https://res.cloudinary.com/dxzgio39l/image/upload/v1559308540/VS.png" alt="versus logo">
  <% end %>
  <!-- left navigation -->
    <div class="navbar-left hidden-xs hidden-sm">
      <!-- Dropdown menu -->
      <div id="classes">
        <div class="dropdown">
         <a class="navbar-item navbar-link"  >CLASSES</a>
           <ul class="dropdown-content" id="desktop">
            <li><%= link_to "Free trial", free_trial_path %></li>
            <% Discipline.all.each do |discipline| %>
              <li><%= link_to discipline.name,discipline_path(discipline)%></li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- Other menu items -->
      <%= link_to "TRAINERS", trainers_path, class: "navbar-item navbar-link"%>
      <%= link_to "PRIVATE TRAINING", private_training_path, class: "navbar-item navbar-link" %>
      <%= link_to "SCHEDULE & FEES", schedule_and_fees_path, class: "navbar-item navbar-link"%>
      <!-- Dropdown menu -->
      <div id="aboutus">
        <div class="dropdown">
         <a class="navbar-item navbar-link"  >ABOUT VERSUS</a>
           <ul class="dropdown-content desktop">
            <li><%= link_to "WHO WE ARE", about_us_path %></li>
            <li><%= link_to "OUR FACILITIES", facilities_path %></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- MOBILE EXPERIENCE -->
  <div class="navbar-mobile hidden-md hidden-lg">

    <!-- Burger menu for mobile only -->
    <div class="dropdown navbar-item mobile-navbar">
      <i class="fas fa-bars fa-2x dropdown-toggle" data-toggle="dropdown" role="button" ></i>
      <!-- Mobile sub-dropdown for classes -->
      <ul class="dropdown-content ">
        <li><%= link_to "CLASSES" %><span class="caret"></span></li>
           <ul class="submenu">
            <li><%= link_to "Free trial", free_trial_path %></li>
            <% Discipline.all.each do |discipline| %>
              <li><%= link_to discipline.name,discipline_path(discipline)%></li>
            <% end %>
          </ul>
        <div class="dropdown-divider"></div>
        <li><%= link_to "TRAINERS", trainers_path %></li>
        <li><%= link_to "PRIVATE TRAINING", private_training_path %></li>
        <li><%= link_to "SCHEDULE & FEES", schedule_and_fees_path %></li>

        <!-- Mobile sub-dropdown for About us -->
        <li><%= link_to "ABOUT VERSUS" %><span class="caret"></span></li>
           <ul class="submenu">
            <li><%= link_to "Who we are", about_us_path %></li>
            <li><%= link_to "Our facilities", facilities_path %></li>
          </ul>
      </ul>
    </div>
   </div>

  <!-- CTA BUTTON -->
  <div class="navbar-right hidden-xs hidden-sm">
    <%= link_to "VISIT US", visit_us_path, class: "button btn btn-dark", type: "button", id: "navbar-button"%>
  </div>



</div>
