<div class="navbar">
  <!-- Logo -->
  <a href="http://www.versushk.com" class="navbar-logo" id="navbar-logo">
    <img src="https://res.cloudinary.com/dxzgio39l/image/upload/v1559308540/VS.png" alt="versus performance hk">
  </a>
  <!-- left navigation -->
    <div class="navbar-left hidden-xs hidden-sm">
      <!-- Dropdown menu -->
      <div id="classes">
        <div class="dropdown">
         <a class="navbar-item navbar-link">CLASSES</a>
           <ul class="dropdown-content">
            <li><a href="#">CLASS 1</a></li>
            <li><a href="#">CLASS 2</a></li>
            <li><a href="#">CLASS 3</a></li>
          </ul>
        </div>
      </div>
      <!-- Other menu items -->
      <a><%= link_to "TRAINERS", "freetrial", class: "navbar-item navbar-link" %></a>
      <a><%= link_to "PRIVATE TRAINING", "freetrial", class: "navbar-item navbar-link" %></a>
      <a><%= link_to "SCHEDULE & FEES", "freetrial", class: "navbar-item navbar-link" %></a>
      <a><%= link_to "ABOUT VERSUS", "freetrial", class: "navbar-item navbar-link" %></a>
    </div>

    <!-- MOBILE EXPERIENCE -->
  <div class="navbar-mobile hidden-md hidden-lg">
    <!-- Classes for mobile only -->
    <div class="navbar-item mobile-navbar">
      <div class="dropdown">
       <a href="PLACEHOLDER-LINK" class="navbar-item navbar-link dropdown-toggle"  id="navbar-menu" data-toggle="dropdown">CLASSES</a>
         <ul class="dropdown-menu">
          <li><a href="#">CLASS 1</a></li>
          <li><a href="#">CLASS 2</a></li>
          <li><a href="#">CLASS 3</a></li>
        </ul>
      </div>
    </div>
    <!-- Burger menu for mobile only -->
    <div class="dropdown navbar-item mobile-navbar">
      <img src="vs.png" alt="logo">
      <!-- <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button" ></i> -->
      <ul class="dropdown-menu">
        <li><a href="#">TRAINERS</a></li>
        <li><a href="#">PRIVATE TRAINING</a></li>
        <li><a href="#">SCHEDULE & FEES</a></li>
        <li><a href="#">ABOUT VERSUS</a></li>
      </ul>
    </div>
   </div>

  <!-- CTA BUTTON -->
  <div class="navbar-right hidden-xs hidden-sm">
    <a><button type="button" id="navbar-button" class="button btn btn-dark"><%= link_to "VISIT US", "freetrial" %></button></a>
  </div>
</div>
