<!-- PAGE TITLE -->
<div class="page-title">
  SCHEDULE & FEES
</div>


<div class="row">
  <% @days.each_with_index do |day| %>
    <div class="day col-xs-12 col-sm-6 col-md-3">
      <h3><%= day.upcase %></h3>
      <p>
        <% @class_sessions.select{|cs| cs.day_string == day }.each do |class_session| %>
          <%= class_session.clean_start_time %> - <%= class_session.clean_end_time %> | <%= class_session.discipline %><br />
        <% end %>
      </p>
    </div>
  <% end %>
</div>



<div id="container-schedule">
  <% @package_groups.each do |package_group| %>
    <div class="day">
      <h3><%= package_group.name %></h3>
    </div>
    <% package_group.packages.each do |package| %>
      <div class="class-item"> <%= package.title %> - $<%= package.price %> - <%= package.description %></div>
    <% end %>
  <% end %>
</div>

<style>
.day  {
  padding: 60px 60px;
}
</style>
