<div class="page-title">
  TRAINERS
</div>

<!-- CARDS -->

<div class="trainers-cards">

  <% @trainers.each do |trainer| %>

    <div id="trainers" class="trainers-cards-category">

      <div class="big-logo-div trainer-profile">

        <!-- Photo -->
        <div class="portrait" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= trainer.photo %>)">
        </div>

        <!-- Logo & Name -->
          <div class="trainer-text">
             <img class="big-logo-trainers" src="https://res.cloudinary.com/dxzgio39l/image/upload/v1559442967/VsLogoLong.png" alt="big-logo">
             <h3><%= trainer.name.upcase %></h3>
             <br>
              <p><%= trainer.specialty  %></p>
              <br>

             <!-- CTA -->
            <a href="<%= private_training_path %>" class="trainer-cta"><button type="button" class="button btn btn-dark">BOOK YOUR PRIVATE WITH <%= trainer.name.upcase %></button></a>

            <!-- description -->

            <br><br><br>
            <p><%= trainer.description  %></p>
          </div>

      </div>


    </div>


  <% end %>

</div>


