<!DOCTYPE html>
<html>

  <head>
    <!-- Tab Icon -->
    <link rel="icon" href="https://res.cloudinary.com/dxzgio39l/image/upload/v1559308540/VS.png" />
    <!-- Google search result-->
    <title>Versus Performance | Muay Thai, Boxing, MMA, BJJ & Fitness gym in HK</title>
    <meta name="description" content="Authentic training in Muay Thai, Boxing, MMA, BJJ & Fitness for all levels. We are an independant gym with a friendly community in Sheung Wan. Group & private classes 7 days a week.">
    <!-- Canonical link = consolidates links count to canonical version -->
    <link rel="canonical" href="http://versushk.com/">
   <!-- Facebook sharing card -->
    <meta property="og:title" content="Versus Performance - Train like a fighter">
    <meta property="og:image" content="https://res.cloudinary.com/dxzgio39l/image/upload/v1566137157/Classes-MT.jpg">
    <meta property="og:description" content="Muay Thai, Boxing, MMA, BJJ & Fitness gym in Sheung Wan, Hong Kong. Group & private training 7 days a week. Join our community.">
    <meta property="og:site_name" content="Versus Performance"/>
    <!-- Bootstrap -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <!-- Commenting out the below line as it's causing the issue in development -->
      <!--     <%#= stylesheet_pack_tag 'application' %>
      -->    <!-- Fontawesome -->
    <link rel="stylesheet" href="style.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400i" rel="stylesheet">
    <!-- Google Maps API -->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js" %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <!-- Facebook plug-in JS SDK -->
    <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
    <!-- MAIN CONTAINER -->
    <%= render 'shared/navbar' %>
    <div class="container" >
      <%= yield %>
      <%= javascript_include_tag 'application' %>
      <%= javascript_pack_tag 'application' %>
      <!-- Devise set-up -->
      <p class="notice"><%= notice %></p>
  <!--     <p class="alert"><%= alert %></p> -->
      <%= render 'shared/flashes'  %>
    </div>
    <%= render 'shared/footer' %>

  </body>
</html>
